<div
  id={@instance_id}
  data-id={@instance_id}
  data-color={@color}
  phx-hook="InitColorPicker"
  phx-update="ignore"
  phx-target={@myself}
  class="rounded-full"
>
  <div
    style={"background-color: #{@color};"}
    class="color-picker rounded-full w-full h-full"
  ></div>
</div>
