<form phx-submit="submit-ids" phx-target="<%= @myself %>">
  <div class="form flex sm:w-4/5 mx-auto">
    <input
      type="text"
      data-lpignore="true"
      name="listing-ids"
      placeholder="Listing ID's"
      class="fake-text-field flex-1"
    >
    <button class="submit ml-4">Find listing</button>
  </div>
</form>
