<%= live_redirect to: Routes.live_path(@socket, @action) do %>
  <button class={"jumbo #{@color}-radial deep-text-shadow"}>
    <h4 class="text-xl font-extrabold text-white mb-0"><%= @title %></h4>
    <p class="leading-snug text-base"><%= @text %></p>
    <div class="mt-1 text-right">
      <div class="bg-bgray-800 text-base bg-opacity-40 p-2 font-bold inline-block rounded">Get Started...</div>
    </div>
  </button>
<% end %>
