/* editor styles */

.toc {
  margin-top: 0.5rem;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(203, 213, 225, var(--tw-border-opacity));

  .section {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.prose {
  height: 100%;
  width: 100%;

  h1,
  h2,
  h3 {
    margin-top: 0 !important;
  }

  a {
    color: #0e7490 !important;
    text-decoration: none;
    font-weight: 500;
    box-shadow: inset 0 -0.125em 0 0 #fff, inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
  }

  mark {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 240, 138, var(--tw-bg-opacity));
  }

  .image-scroller {
    width: 100%;
  }

  .image-scroller {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  }

  .image-scroller {
    padding: 1rem;
  }

  .image-scroller {

    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
    scrollbar-width: none;
    touch-action: pan-x;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset 0 11px 6px -10px #333, inset 0 -11px 6px -10px #333;

    div {
      margin-right: 0.5rem;
    }

    div {
      height: 100%;
    }

    div {
      flex-shrink: 0;
    }

    div:not(:last-child) { margin-right: 8px; }

    /* hacky fix for padding at the end of the list */
    div:last-child {
      position: relative;
    }

    div:last-child::after {
      position: absolute;
      left: 100%;
      width: 1rem;
      height: 1px;
      display: block;
      content: "";
    }

    img {
      margin: 0px;
    }

    img {
      height: 100%;
    }

    img {
      border-radius: 0.25rem;
    }

    img {
      -o-object-fit: cover;
         object-fit: cover;
    }

    img {
      -o-object-position: center;
         object-position: center;
    }

    img {
      --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
  }

  .image-scroller::-webkit-scrollbar {
    display: none;
  }
}
