.dropdown {
  flex: 1 1 0%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(209, 213, 219, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));

  & .dropdown-inner {
    display: inline-flex;
  }

  & .dropdown-inner {
    width: 100%;
  }

  & .dropdown-inner {
    justify-content: center;
  }

  & .dropdown-inner {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  & .dropdown-inner {
    transition-duration: 150ms;
  }

  & .dropdown-inner {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .dropdown-inner:hover {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
  }

  & .dropdown-inner:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  & .dropdown-inner:active {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  }

  & .dropdown-inner:active {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity));
  }
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

form, .form {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

form,
.form {

  & h1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  & h1 {
    font-weight: 800;
  }

  & h1 {
    line-height: 1;
  }

  & h2 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  & h2 {
    font-weight: 700;
  }

  & h2 {
    line-height: 1;
  }

  & h3 {
    font-weight: 700;
  }

  & h3 {
    line-height: 1;
  }

  & label {
    margin-bottom: 0.125rem;
  }

  & label {
    display: block;
  }

  & label {
    padding-left: 0.125rem;
  }

  & label {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  & .sub-form {
    border-radius: 0.375rem;
  }

  & .sub-form {
    border-width: 1px;
  }

  & .sub-form {
    --tw-border-opacity: 1;
    border-color: rgba(103, 232, 249, var(--tw-border-opacity));
  }

  & .sub-form {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 254, 255, var(--tw-bg-opacity));
  }

  & .sub-form {
    padding: 1rem;
  }

  & .sub-form {
    --tw-text-opacity: 1;
    color: rgba(14, 116, 144, var(--tw-text-opacity));
  }

  & .sub-form {

    & h2 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    & h2 {
      font-weight: 700;
    }

    & h2 {
      line-height: 1;
    }

    & h2 {
      --tw-text-opacity: 1;
      color: rgba(3, 105, 161, var(--tw-text-opacity));
    }
  }

  input.no-controls::-webkit-outer-spin-button,
  input.no-controls::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number].no-controls {
    -moz-appearance: textfield;
  }

  & input.text-field {
    display: block;
  }

  & input.text-field {
    width: 100%;
  }

  & input.text-field {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  & input.text-field {
    border-radius: 0.25rem;
  }

  & input.text-field {
    border-width: 1px;
  }

  & input.text-field {
    --tw-border-opacity: 1;
    border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  }

  & input.text-field {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

  & input.text-field {
    padding: 0.5rem;
  }

  & input.text-field {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }

  & input.number-field {
    display: block;
  }

  & input.number-field {
    width: 100%;
  }

  & input.number-field {
    border-radius: 0.25rem;
  }

  & input.number-field {
    border-width: 1px;
  }

  & input.number-field {
    --tw-border-opacity: 1;
    border-color: rgba(148, 163, 184, var(--tw-border-opacity));
  }

  & input.number-field {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

  & input.number-field {
    padding-left: 0.75rem;
  }

  & input.number-field {
    line-height: 2rem;
  }

  & input.number-field {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }

  & textarea.textarea {
    display: block;
  }

  & textarea.textarea {
    height: 6rem;
  }

  & textarea.textarea {
    width: 100%;
  }

  & textarea.textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  & textarea.textarea {
    border-radius: 0.25rem;
  }

  & textarea.textarea {
    border-width: 1px;
  }

  & textarea.textarea {
    --tw-border-opacity: 1;
    border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  }

  & textarea.textarea {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

  & textarea.textarea {
    padding: 0.5rem;
  }

  & textarea.textarea {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
  }

  & input.text-field:focus, input.number-field:focus, textarea.textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  & input.text-field:focus:focus, input.number-field:focus:focus, textarea.textarea:focus:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  }

  & input.text-field:focus:focus, input.number-field:focus:focus, textarea.textarea:focus:focus {
    --tw-ring-offset-width: 2px;
  }

  & button.submit {
    border-radius: 0.25rem;
  }

  & button.submit {
    --tw-bg-opacity: 1;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
  }

  & button.submit {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & button.submit {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & button.submit {
    font-weight: 700;
  }

  & button.submit {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  & button.submit {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  & button.submit {
    transition-duration: 150ms;
  }

  & button.submit {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & button.submit:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(99, 102, 241, var(--tw-bg-opacity));
  }

  & button.submit:disabled {
    cursor: wait;
  }

  & .action {
    display: block;
  }

  & .action {
    cursor: pointer;
  }

  & .action {
    border-radius: 0.25rem;
  }

  & .action {
    --tw-bg-opacity: 1;
    background-color: rgba(13, 148, 136, var(--tw-bg-opacity));
  }

  & .action {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & .action {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & .action {
    font-weight: 700;
  }

  & .action {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  & .action {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  & .action {
    transition-duration: 150ms;
  }

  & .action {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .outline-small {
    display: flex;
  }

  & .outline-small {
    flex: 1 1 0%;
  }

  & .outline-small {
    cursor: pointer;
  }

  & .outline-small {
    align-items: center;
  }

  & .outline-small {
    border-radius: 0.25rem;
  }

  & .outline-small {
    border-width: 1px;
  }

  & .outline-small {
    --tw-border-opacity: 1;
    border-color: rgba(156, 163, 175, var(--tw-border-opacity));
  }

  & .outline-small {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  & button.submit:focus {
    --tw-border-opacity: 1;
    border-color: rgba(67, 56, 202, var(--tw-border-opacity));
  }

  & button.submit:focus {

    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  & button.submit:active {
    --tw-bg-opacity: 1;
    background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
  }

  @media (min-width: 768px) {
    & h2 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    & h2 {
      font-weight: 700;
    }
    & h2 {
      line-height: 1;
    }
    & h2 {
      --tw-text-opacity: 1;
      color: rgba(55, 65, 81, var(--tw-text-opacity));
    }
  }

  @media (min-width: 1024px) {
    & h1 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    & h1 {
      font-weight: 800;
    }
    & h1 {
      line-height: 1;
    }
    & h1 {
      --tw-text-opacity: 1;
      color: rgba(55, 65, 81, var(--tw-text-opacity));
    }

    & h2 {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    & h2 {
      font-weight: 700;
    }

    & h2 {
      line-height: 1;
    }

    & h2 {
      --tw-text-opacity: 1;
      color: rgba(55, 65, 81, var(--tw-text-opacity));
    }

    & h3 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }

    & h3 {
      font-weight: 700;
    }

    & h3 {
      line-height: 1;
    }
  }
}

.link-button {
  display: inline-block;
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgba(8, 145, 178, var(--tw-text-opacity));
}

.link-button:hover {
  text-decoration: underline;
}

.subtle-button {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.delete-button {
  display: inline-block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(254, 205, 211, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(190, 18, 60, var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.delete-button:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgba(225, 29, 72, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

button.action-button {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(13, 148, 136, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button.action-button:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgba(20, 184, 166, var(--tw-bg-opacity));
}

button.edit-button, div.edit-button {
  white-space: nowrap;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(219, 39, 119, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button.edit-button:hover, div.edit-button:hover {
  cursor: pointer;
  --tw-bg-opacity: 1;
  background-color: rgba(236, 72, 153, var(--tw-bg-opacity));
}

.fake-text-field {
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.fake-text-field:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.fake-text-field:focus:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-offset-width: 2px;
}

input.naked-text:focus {
  outline: none;
}

.toggle-checkbox:checked {
  right: 0px;
  --tw-border-opacity: 1;
  border-color: rgba(74, 222, 128, var(--tw-border-opacity));

  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  --tw-bg-opacity: 1;
  background-color: rgba(74, 222, 128, var(--tw-bg-opacity));

  background-color: #68d391;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}

input[type=range]::-moz-range-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}

input[type=range]::-ms-thumb {
  pointer-events: all;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
}

.range-form {
  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
  }

  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 9999px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-webkit-slider-runnable-track {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-webkit-slider-runnable-track {

    height: 6px;
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 1.5rem;
  }

  input[type=range]::-webkit-slider-thumb {
    width: 1.5rem;
  }

  input[type=range]::-webkit-slider-thumb {
    border-radius: 9999px;
  }

  input[type=range]::-webkit-slider-thumb {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-webkit-slider-thumb {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-webkit-slider-thumb {

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    --tw-bg-opacity: 1;
    background-color: rgba(187, 247, 208, var(--tw-bg-opacity));
  }

  input[type=range]::-moz-range-track {
    width: 100%;
  }

  input[type=range]::-moz-range-track {
    border-radius: 9999px;
  }

  input[type=range]::-moz-range-track {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-moz-range-track {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-moz-range-track {

    height: 6px;
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    height: 1.5rem;
  }

  input[type=range]::-moz-range-thumb {
    width: 1.5rem;
  }

  input[type=range]::-moz-range-thumb {
    border-radius: 9999px;
  }

  input[type=range]::-moz-range-thumb {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-moz-range-thumb {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-moz-range-thumb {

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    width: 100%;
  }

  input[type=range]::-ms-fill-lower {
    border-radius: 9999px;
  }

  input[type=range]::-ms-fill-lower {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-ms-fill-lower {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-ms-fill-lower {

    height: 6px;
    cursor: pointer;
  }

  input[type=range]::-ms-fill-upper {
    width: 100%;
  }

  input[type=range]::-ms-fill-upper {
    border-radius: 9999px;
  }

  input[type=range]::-ms-fill-upper {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-ms-fill-upper {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-ms-fill-upper {

    height: 6px;
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    height: 1.5rem;
  }

  input[type=range]::-ms-thumb {
    width: 1.5rem;
  }

  input[type=range]::-ms-thumb {
    border-radius: 9999px;
  }

  input[type=range]::-ms-thumb {
    --tw-bg-opacity: 1;
    background-color: rgba(134, 239, 172, var(--tw-bg-opacity));
  }

  input[type=range]::-ms-thumb {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  input[type=range]::-ms-thumb {

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
  }
}
