<div>
  <% property = hd(@listings) %>
  <% IO.inspect(property, label: "BOOM") %>
  <div 
    class="cover-showcase"
    style={"background-image: url(#{property["main_photo_url"]})"}>
  </div>
</div>
