<div class="lg:w-4/5 mx-auto">
  <h1 class="header-color mb-0">Why Use an Agent?</h1>
  <div class="sub-header-color">
    <p class="text-lg md:text-xl lg:text-2xl font-semibold mb-4">
    Anyone can go online and find recources that will give them an idea of what the
    estimated price your home can sell for in todays market......but whats next?
    Do you have the the knowledge and connections to capitalize in todays market?
    Do you have the tools and experience to market to the right audience?
    How do you prepare for and lead the largest transaction you'll ever enter? You
    Hire A Realtor, like myself,  to be in your corner! Todays market is challenging
    and requires more than negotiation skills. I have built a career on the skills needed
    to master todays market. As your Agent I will protect you during the transaction
    and get you the most money for your home. I will also put together a plan to take
    advantage of this market and make your next purchase.</p>
  </div>
</div>
