<div class="col-span-3 lg:col-span-1">
  <div class="bg-white shadow rounded-lg p-4">
  <%#= live_component @socket, AgentRegistration, id: :agent_registration %>
  <%#= live_component @socket, Payment, current_user: nil, id: :agent_payment %>
  </div>
</div>
