<div class="w-full md:w-1/2 lg:w-1/4 mx-auto">
  <h1 class="text-2xl leading-none font-extrabold text-gray-700 mb-6">Settings</h1>
  <%= live_component @socket, AccountLive, current_user: @current_user, id: :account_settings %>
</div>
