@import "../node_modules/glightbox/dist/css/glightbox.min.css";

@tailwind base;
@tailwind components;

/* Client styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-sm md:text-base lg:text-lg;

    line-height: 1.2;
  }

  p {
    @apply text-sm md:text-base sm:leading-5 md:leading-6;
  }

  h1 {
    @apply md:mb-2 text-2xl md:text-3xl lg:text-4xl font-extrabold;
  }

  h2 {
    @apply md:mb-2 text-xl md:text-2xl lg:text-3xl font-extrabold;
  }

  h3 {
    @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
  }

  h4 {
    @apply md:mb-2 text-base md:text-lg lg:text-xl font-extrabold;
  }


  .h1 {
    @apply md:mb-2 text-2xl md:text-3xl lg:text-4xl font-extrabold;
  }

  .h2 {
    @apply md:mb-2 text-xl md:text-2xl lg:text-3xl font-extrabold;
  }

  .h3 {
    @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
  }

  .h4 {
    @apply md:mb-2 text-base md:text-lg lg:text-xl font-extrabold;
  }

  [x-cloak] {
    display: none;
  }

  .link:hover {
    cursor: pointer;
  }

  .twitter {
    color: #1DA1F2;
    fill: #1DA1F2;
  }

  .facebook {
    color: #1877F2;
    fill: #1877F2;
  }

  .client-header {
    @apply relative font-sans;

    & .header-fixed {
      @apply bg-gray-100 fixed w-full top-0 left-0 max-w-screen-xl z-50 mx-auto;
      transform: translate(calc(50vw - 50%));

      & .menu {
        @apply flex flex-col absolute top-0 left-0 bg-gray-100 m-2 w-full max-w-xs p-2 h-96 z-30 rounded ;

        max-height: 94vh;
      }
    }

    & .link {
      /* @apply text-cyan-600; */

      color: #0891B2 !important;
    }

    & .ex-shadow {
      box-shadow: 1px 1px 3px rgba(33, 33, 33, 0.8);
    }

    & .header-main {
      @apply relative z-40 max-w-screen-xl mx-auto h-12 lg:h-18;
    }
  }

  .client-footer {
    @apply relative;

    & .footer-fixed {
      @apply fixed w-full bottom-0 left-0 max-w-screen-xl z-50 mx-auto bg-gray-800;
      transform: translate(calc(50vw - 50%));

      & .menu {
        @apply absolute bottom-0 right-0 m-2 w-full max-w-xs p-2 h-96 z-30 rounded overflow-y-auto;
        
        max-height: 94vh;
      }
    }

    & .ex-shadow {
      box-shadow: 2px 2px 3px rgba(66, 66, 66, 0.6);
    }

    & .header-main {
      @apply relative z-40 max-w-screen-xl mx-auto h-12 lg:h-18;
    }
  }
}

.scale-in-tl {
	-webkit-animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-tl {
	-webkit-animation: scale-out-tl 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-tl 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.scale-in-br {
	-webkit-animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-br {
	-webkit-animation: scale-out-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

div.viewer-wrapper {
  @apply w-full;

  & .squeeze {
    @apply mx-auto px-6 lg:px-8 max-w-3xl lg:max-w-4xl xl:max-w-5xl;
  }

  & .large-text-shadow {
    text-shadow: 3px 3px 4px #000;
  }

  & .large-box-shadow {
    box-shadow: 1px 1px 3px #666;
  }

  & .mapping-wrapper {
    @apply p-6 fixed w-screen h-screen flex items-center justify-center top-0 left-0 right-0 bottom-0 bg-bgray-800 bg-opacity-90;
    z-index: 100; 
  
    & .mapping-viewer {
      @apply w-full h-full max-w-screen-lg;
      max-height: 30rem;
      z-index: 200;
    }

    & .leave-mapping {
      @apply absolute top-0 left-1/2 -ml-12 bg-red-800 rounded-b-md shadow px-2 py-1 flex items-center justify-center text-base;
      z-index: 300;
      color: #FFF !important;

      & button {
        color: #FFF !important;
      }
    }
  
  }

  & .showcase-gallery {
    @apply w-full grid lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-3 gap-4;

    & .main-photo {
      @apply relative col-span-3 row-span-2 lg:col-span-2 lg:row-span-3 w-full pt-2/3 rounded-lg bg-cover bg-center;

      & .title {
        @apply w-4/5 text-left absolute top-3 left-3 md:top-4 md:left-4 lg:top-5 lg:left-5 z-30;

        & h3 {
          @apply px-2 mb-0 leading-none py-1 inline-block;
        }

        & h1 {
          @apply px-2 mb-0 clear-left inline-block;
        }

        & h2 {
          @apply px-2 pb-0.5 mb-0 leading-none inline-block;
        }
      }
    }

    & .main-photo::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & .main-photo:hover::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & a.preview {
      @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

      & .icon {
        @apply bg-bgray-800 bg-opacity-70 rounded-bl-md rounded-tr-lg absolute top-0 right-0 p-1.5;
      }
    }

    & a.preview::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & a.preview:hover::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & img {
      @apply my-0;
    }
  }

  & .cover {
    @apply absolute top-0 left-0 right-0 h-screen w-full bg-cover bg-center;

    & a:link,
    & button {
      color: #FFF !important;

      & p {
        color: #FFF !important;
      }
    }
  }

  & .cover::before {
    /* @apply backdrop-filter backdrop-blur-sm; */

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5)
  }

  & .cover-buyer-tour {
    @apply absolute top-0 left-0 right-0 h-screen w-full bg-cover bg-center;

    & a:link,
    & button,
    & button p {
      color: #FFF !important;
    }
  }

  & .cover-buyer-tour::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6)
  }


  & .showcase,
  & .tour,
  & .subject,
  & .comparable {
    & .main-details {
      @apply grid grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 mx-auto;

      & .detail {
        @apply px-4 py-2 rounded-md text-right;

        & h1, & h2 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none mb-0;
        }
      }
    }
 
    & .property-details, 
    & .association {
      @apply w-full mb-6 text-base;

      & p {
        @apply my-0;
      }

      & table {
        @apply w-full;

        & th {
          @apply font-bold p-2 border-b text-left;
        }

        & tr {
          @apply border-b;
        }

        & td {
          @apply px-2 py-1 mr-2;
        }
      }
    }
  }

  & .comparable {
    & .adjustments {
      & table {
        @apply w-full border-t;

        & th {
          @apply font-bold p-2 border-b text-left;
        }

        & tr {
          @apply border-b;
        }

        & td:nth-child(odd) {
          @apply px-2 py-1 mr-2 text-base;
        }

        & td:nth-child(even) {
          @apply px-2 py-1 ml-2 font-bold text-right;
        }
      }
    }
  }

  & .agent {
    & .avatar {
      @apply w-64 mx-auto text-center;

      & p {
        line-height: 0rem;
        margin: 0;
      }

      & img {
        @apply block mx-auto;
      }
    }
  }

  & .closed-analysis {
    @apply w-full lg:w-4/5 mx-auto;

    & .sold-table {
      @apply mt-12;

      & table {
        @apply w-full;

        & td {
          @apply p-2;
        }

        & tr {
          @apply border-b;
        }

        & tr:first-child {
          & p {
            @apply text-lg font-bold;
          }
        }

        & tr:last-child {
          @apply border-b-0;

          & p {
            @apply text-lg font-bold;
          }
        }
      }
    }
  }

  & .suggested-price {
    & h1.price-value {
      @apply md:mb-2 text-3xl md:text-4xl lg:text-5xl font-extrabold;
    }

    & .slash {
      & p {
        font-size: 4rem;
      }
    }
  }

  & video {
    @apply my-0;
  }

  & a.button {
    @apply my-4 block font-bold border-t border-b py-2;
  }

  & a.button:hover {
    @apply cursor-pointer;
  }

  & .section {

    & .data-grid {
      @apply grid grid-cols-1 lg:grid-cols-3 gap-6;
    }

    & .data-grid-fifty {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }

    & .minor {
      @apply h-full;

      & img {
        @apply mx-auto;
      }
    }

    & .major {
      @apply lg:col-span-2;
    }

    & img {
      @apply rounded-md;
    }

    & .simple-gallery {
      @apply grid grid-cols-3 grid-rows-4 gap-1;

      & .main-photo {
        @apply relative col-span-3 row-span-3 w-full pt-2/3 rounded-md bg-cover bg-center;
      }

      & .main-photo::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & .main-photo:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & a.preview {
        @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

        & .icon {
          @apply bg-bgray-800 bg-opacity-70 rounded-bl rounded-tr-lg absolute top-0 right-0 p-1.5;
        }
      }

      & a.preview::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & a.preview:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    & .subject-table {
      & table {
        @apply w-full;

        & p {
          @apply my-0;
        }

        & th {
          @apply font-bold p-2 border-b text-left;
        }

        & tr {
          @apply border-b;
        }

        & td:nth-child(odd) {
          @apply px-2 py-1 text-right mr-2 text-base;
        }

        & td:nth-child(even) {
          @apply px-2 py-1 ml-2 font-bold;
        }
      }
    }
  }
} 

[contenteditable="false"]:focus {
  outline: none;
}

[contenteditable="true"]:focus {
  outline: none;
}

.panel-slidein {
  @apply h-screen;

  width: 95%;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: -100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.more-info-panel {
  text-shadow: none !important;

  & a[href^="tel:"] {
    color: tomato;
  }

  & a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
    color: tomato;
  }

  & a[href^="mailto:"]:before {
    @apply text-cyan-600;
    content: "\2709";
    margin-right: 0.5em;
  }
}

input.text-field {
  @apply text-gray-700 border bg-white border-bgray-200 rounded p-2 block w-full appearance-none;
}

input.text-field:focus {
  @apply outline-none focus:ring-1 focus:ring-offset-2;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-9-9 19:5:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-out-tl {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}



@tailwind utilities;
