/* editor styles */

ul.section-nav {
  @apply mt-4;

  & li.section {
    @apply mb-2;

    & .title {
      @apply text-bgray-600 mb-0 text-base font-extrabold;
    }

    & .sub-title {
      @apply text-bgray-400 text-base leading-4;
    }

    & .action {
      @apply text-sm;

      color: #0e7490 !important;
      text-decoration: none;
      font-weight: 500;
      box-shadow: inset 0 -0.125em 0 0 rgb(231, 230, 230), inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
    }
  }
}

body {
  @apply focus:outline-none p-0 m-0;
}

blockquote {
  font-style: italic;
  font-family: 'Sanchez', serif;
  line-height: 1.4 !important;
  position: relative;
  text-shadow: 0 1px white;
}

blockquote p {
  @apply text-lg md:text-2xl;
}

a.fancy {
  color: #0e7490 !important;
  text-decoration: none;
  font-weight: 500;
  box-shadow: inset 0 -0.125em 0 0 #fff, inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
}

.curve {
  shape-outside: circle();
}

mark {
  @apply bg-yellow-200 px-1;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.command-button {
  @apply text-white fill-current cursor-pointer p-2 rounded h-full w-full flex items-center justify-center;
}

div.webpack {
  @apply text-bgray-200 hidden w-48 h-48 lg:w-48 lg:h-48 lg:grid-cols-2;
}

div.editor-wrapper {
  & .section {
    @apply w-full flex items-center justify-center;

    & .body {
      @apply flex flex-wrap w-full md:mx-8 xl:w-4/5 my-32;
    }

    & .data-grid {
      @apply flex flex-wrap;
    }

    & .fifty {
      @apply w-full md:w-1/2 h-full mb-6 md:mb-0;
    }

    & .minor {
      @apply mx-4 h-full w-1/3;
    }

    & .major {
      @apply flex-1 mx-4 h-full;
    }
  }
}

div.preview-wrapper {
  @apply w-full xl:w-4/5 max-w-screen-lg mb-8 lg:rounded-md;
}

p {
  @apply text-sm md:text-base lg:text-lg sm:leading-5 md:leading-6 mb-0;
}

h1 {
  @apply md:mb-2 text-2xl md:text-3xl lg:text-4xl font-extrabold;
}

h2 {
  @apply md:mb-2 text-xl md:text-2xl lg:text-3xl font-extrabold;
}

h3 {
  @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
}

h4 {
  @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
}

div.preview-wrapper,
div.viewer-wrapper {

  & .admin-box {
    & button {
      @apply text-cyan-700;
    }
  }

  & .divider:first-child {
    display: none;
  }

  /* Position child elements relative to this element */
  & .aspect-ratio-box {
    position: relative;
  }

  /* Create a pseudo element that uses padding-bottom to take up space */
  & .aspect-ratio-box::after {
    display: block;
    content: "";

    /* 16:9 aspect ratio */
    padding-bottom: 70%;
  }

  /* Image is positioned absolutely relative to the parent element */
  & .aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  & .cover-wrapper {
    @apply w-full relative;

    & .title {
      @apply text-left absolute top-3 left-3 md:top-4 md:left-4 lg:top-5 lg:left-5 z-30;

      & h1 {
        @apply px-3 pt-1 pb-1 mb-0 font-extrabold;
      }

      & h3 {
        @apply px-3 pb-2 leading-none p-2 float-left;
      }
    }

    & .subtitle {
      @apply absolute text-right bottom-3 right-3 md:bottom-4 md:right-4 lg:bottom-5 lg:right-5 z-30;

      & h1 {
        @apply px-3 pt-1 mb-0 font-extrabold;
      }

      & h3 {
        @apply px-3 pb-2 leading-none p-2 float-right;
      }
    }
  }

  & .whats-cma {
    @apply w-full lg:w-4/5 mx-auto;
  }

  & .comparable {
    & .summary {
      @apply font-bold mx-auto my-6 lg:my-8 text-center w-4/5 md:w-3/4 lg:w-2/3 text-xl md:text-2xl lg:text-3xl;
    }

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .info-adjustments {
      @apply flex flex-wrap mt-12 mx-auto lg:w-4/5;

      & .extra-details {
        @apply mx-auto flex w-full sm:flex-1 px-4 pt-2 mb-6;

        & .extra-info {
          @apply grid grid-cols-2 px-2 gap-x-4 gap-y-1;

          & p {
            @apply my-0;
          }

          & .val p{
            @apply font-extrabold text-lg md:text-xl lg:text-2xl text-right;
          }

          & .label p{
            @apply text-base md:text-lg lg:pt-1;
          }
        }

        & .extra-options {
          @apply text-center flex-1 flex items-center justify-center px-6;

          & a {
            @apply block text-center mx-auto;
          }

          & img {
            @apply block w-16 mx-auto;
          }
        }
      }

      & .adjustments {
        @apply w-full sm:w-2/5 mb-6;

        & p {
          @apply my-0;
        }

        & table {
          @apply w-full border-t;

          & th {
            @apply font-bold p-2 border-b text-left;
          }

          & tr {
            @apply border-b;
          }

          & td:nth-child(odd) {
            @apply px-2 py-1 mr-2 text-base;
          }

          & td:nth-child(even) {
            @apply px-2 py-1 ml-2 font-bold text-right;
          }
        }
      }

      & .footer {
        @apply w-full text-right;
      }
    }
  }

  & .subject {
    @apply w-full lg:w-4/5 mx-auto;

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .sub-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h2 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }
  }

  & .agent {
    & .avatar {
      @apply w-64 mx-auto text-center;

      & p {
        line-height: 0rem;
        margin: 0;
      }

      & img {
        @apply block mx-auto;
      }
    }
  }

  & .synopsis {
    @apply w-full lg:w-4/5 mx-auto;
  }

  & .pricing {
    @apply w-full lg:w-4/5 mx-auto;
  }

  & .showcase, 
  & .tour {
    & .summary {
      @apply font-bold mx-auto my-6 lg:my-8 text-center w-4/5 md:w-3/4  text-xl md:text-2xl lg:text-3xl;
    }

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .sub-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h2 {
          @apply mb-0 text-center;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .info {
      @apply flex flex-wrap mt-12 mx-auto;

      & .extra-details {
        @apply mx-auto flex w-full sm:flex-1 px-4 pt-2 mb-6;

        & .extra-info {
          @apply flex-1 grid grid-cols-2 px-2 gap-x-4 gap-y-1 h-0;

          & p {
            @apply my-0;
          }

          & .val p{
            @apply font-extrabold text-lg md:text-xl lg:text-2xl text-right;
          }

          & .label p{
            @apply text-base md:text-lg lg:pt-1;
          }
        }

        & .extra-options {
          @apply text-center w-36 flex items-center justify-center pl-6 pr-12;

          & a {
            @apply block text-center mx-auto;
          }

          & img {
            @apply block w-16 mx-auto;
          }
        }
      }

      & .association{
        @apply  w-full sm:w-2/5 mb-6;

        & p {
            @apply my-0;
          }

        & table {
          @apply w-full border-t;

          & th {
            @apply font-bold p-2 border-b text-left;
          }

          & tr {
            @apply border-b;
          }

          & td:nth-child(odd) {
            @apply px-2 py-1 mr-2 text-base;
          }

          & td:nth-child(even) {
            @apply px-2 py-1 ml-2 font-bold text-right;
          }
        }  
      }
    }
  }

  & video {
    @apply my-0;
  }

  & a.button {
    @apply my-4 block font-bold border-t border-b py-2;
  }

  & a.button:hover {
    @apply cursor-pointer;
  }

  & .section {
    @apply py-16 lg:py-24;

    & .data-grid {
      @apply grid grid-cols-1 lg:grid-cols-3 gap-6;
    }

    & .data-grid-fifty {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }

    & .minor {
      @apply h-full;

      & img {
        @apply mx-auto;
      }
    }

    & .major {
      @apply lg:col-span-2;
    }

    & img {
      @apply rounded-md;
    }

    & .cover-agent {
      @apply absolute -left-8 -bottom-6 rounded-full h-20 w-20 bg-cover border-4;
    }

    & h1.cover-header {
      @apply mb-4;
    }

    & .cover-address {
      @apply my-2 lg:my-4;
    }

    & .cover-name {
      @apply mt-4 mb-20;
    }

    & .why-agent-photo {
      @apply float-left mr-8 my-4 rounded-full bg-cover border-4 w-32 h-32 lg:w-40 lg:h-40;
    }

    & .simple-gallery {
      @apply grid grid-cols-3 grid-rows-4 gap-1;

      & .main-photo {
        @apply relative col-span-3 row-span-3 w-full pt-2/3 rounded-md bg-cover bg-center;
      }

      & .main-photo::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & .main-photo:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & a.preview {
        @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

        & .icon {
          @apply bg-bgray-800 bg-opacity-70 rounded-bl rounded-tr-lg absolute top-0 right-0 p-1.5;
        }
      }

      & a.preview::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & a.preview:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    & .showcase-gallery {
      @apply w-full grid lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-3 gap-4;

      & .main-photo {
        @apply relative col-span-3 row-span-2 lg:col-span-2 lg:row-span-3 w-full pt-2/3 rounded-lg bg-cover bg-center;

        & .title {
          @apply w-4/5 text-left absolute top-3 left-3 md:top-4 md:left-4 lg:top-5 lg:left-5 z-30;

          & h3 {
            @apply px-2 mb-0 leading-none py-1 inline-block;
          }

          & h1 {
            @apply px-2 mb-0 clear-left inline-block;
          }

          & h2 {
            @apply px-2 pb-0.5 mb-0 leading-none inline-block;
          }
        }
      }

      & .main-photo::before {
        @apply rounded-lg;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & .main-photo:hover::before {
        @apply rounded-lg;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & a.preview {
        @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

        & .icon {
          @apply bg-bgray-800 bg-opacity-70 rounded-bl-md rounded-tr-lg absolute top-0 right-0 p-1.5;
        }
      }

      & a.preview::before {
        @apply rounded-lg;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & a.preview:hover::before {
        @apply rounded-lg;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & img {
        @apply my-0;
      }
    }

    & .subject-table {
      & table {
        @apply w-full;

        & p {
          @apply my-0;
        }

        & th {
          @apply font-bold p-2 border-b text-left;
        }

        & tr {
          @apply border-b;
        }

        & td:nth-child(odd) {
          @apply px-2 py-1 text-right mr-2 text-base;
        }

        & td:nth-child(even) {
          @apply px-2 py-1 ml-2 font-bold;
        }
      }
    }
  }
}

[contenteditable="false"]:focus {
  outline: none;
}

[contenteditable="true"]:focus {
  outline: none;
}

.panel-slidein {
  @apply h-screen;

  width: 95%;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: -100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

#moreInfoPanel {
  & a[href^="tel:"] {
    color: tomato;
  }

  & a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
    color: tomato;
  }

  & a[href^="mailto:"]:before {
    @apply text-cyan-600;
    content: "\2709";
    margin-right: 0.5em;
  }
}


input.text-field {
  @apply text-gray-700 border bg-white border-bgray-200 rounded p-2 block w-full appearance-none;
}

input.text-field:focus {
  @apply outline-none focus:ring-1 focus:ring-offset-2;
}
