/* editor styles */

ul.section-nav {
  @apply mt-4;

  & li.section {
    @apply mb-2;

    & .title {
      @apply text-bgray-600 mb-0 text-base font-extrabold;
    }

    & .sub-title {
      @apply text-bgray-400 text-base leading-4;
    }

    & .action {
      @apply text-sm;

      color: #0e7490 !important;
      text-decoration: none;
      font-weight: 500;
      box-shadow: inset 0 -0.125em 0 0 rgb(231, 230, 230), inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
    }
  }
}

body {
  @apply focus:outline-none p-0 m-0;
}

blockquote {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

blockquote * {
  box-sizing: border-box;
}

blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

blockquote p:first-child::before {
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

a.fancy {
  color: #0e7490 !important;
  text-decoration: none;
  font-weight: 500;
  box-shadow: inset 0 -0.125em 0 0 #fff, inset 0 -0.375em 0 0 rgba(165, 243, 252, 0.4);
}

.curve {
  shape-outside: circle();
}

mark {
  @apply bg-yellow-200 px-1;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

.command-button {
  @apply text-white fill-current cursor-pointer p-2 rounded h-full w-full flex items-center justify-center;
}

div.webpack {
  @apply text-bgray-200 hidden w-48 h-48 lg:w-48 lg:h-48 lg:grid-cols-2;
}

div.editor-wrapper {
  & .section {
    @apply w-full flex items-center justify-center;

    & .body {
      @apply flex flex-wrap w-full md:mx-8 xl:w-4/5 my-32;
    }

    & .data-grid {
      @apply flex flex-wrap;
    }

    & .fifty {
      @apply flex-1 h-full;
    }

    & .minor {
      @apply mx-4 h-full w-1/3;
    }

    & .major {
      @apply flex-1 mx-4 h-full;
    }
  }
}

div.preview-wrapper {
  @apply max-w-screen-xl w-full xl:w-4/5 mb-8 lg:rounded-md;
}

p {
  @apply text-sm md:text-base lg:text-lg sm:leading-5 md:leading-6 lg:leading-7;
}

h1 {
  @apply md:mb-2 text-2xl md:text-3xl lg:text-4xl font-extrabold;
}

h2 {
  @apply md:mb-2 text-xl md:text-2xl lg:text-3xl font-extrabold;
}

h3 {
  @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
}

h4 {
  @apply md:mb-2 text-base md:text-lg lg:text-xl font-extrabold;
}

div.preview-wrapper,
div.viewer-wrapper {
  & .cover-wrapper {
    @apply w-full my-20 lg:my-36;
  }

  & .comp {
    & p {
      @apply my-0;
    }
  }

  & .subject {
    & img {
      @apply my-0;
    }
  }

  & .agent {
    & img {
      @apply my-0;
    }
  }

  & video {
    @apply my-0;
  }

  & .section {
    @apply w-full my-8 lg:my-16;

    & .data-grid {
      @apply grid grid-cols-1 lg:grid-cols-3 gap-6;
    }

    & .data-grid-fifty {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }

    & .minor {
      @apply h-full;
    }

    & .major {
      @apply lg:col-span-2;
    }

    & img {
      @apply rounded-md;
    }

    & .cover-agent {
      @apply absolute -left-8 -bottom-6 rounded-full h-20 w-20 bg-cover border-4;
    }

    & h1.cover-header {
      @apply mb-4;
    }

    & .cover-address {
      @apply my-2 lg:my-4;
    }

    & .cover-name {
      @apply mt-4 mb-20;
    }

    & .why-agent-photo {
      @apply float-left mr-8 my-4 rounded-full bg-cover border-4 w-32 h-32 lg:w-40 lg:h-40;
    }

    & .simple-gallery {
      @apply grid grid-cols-4 gap-1;

      & img {
        @apply my-0;
      }
    }

    & .showcase-gallery {
      @apply w-full grid lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-3 gap-4;

      /* height: 20rem; */

      & .main-photo {
        @apply col-span-3 row-span-2 lg:col-span-2 lg:row-span-3 relative w-full pt-2/3 rounded bg-cover bg-center;
      }

      & .main-photo::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & .main-photo:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & a.preview {
        @apply block h-28 relative rounded bg-cover bg-center lg:w-full lg:h-full;
      }

      & a.preview::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & a.preview:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & img {
        @apply my-0;
      }
    }

    & .left-right-wrapper {
      & table {
        @apply w-full;

        & p {
          @apply my-0;
        }

        & th {
          @apply font-bold p-2 border-b-2;
        }

        & tr {
          @apply border-b;
        }

        & td:nth-child(odd) {
          @apply px-2 py-1 text-right mr-2 w-1/2 text-base;
        }

        & td:nth-child(even) {
          @apply px-2 py-1 ml-2 font-bold w-1/2;
        }
      }
    }
  }
}

[contenteditable="false"]:focus {
  outline: none;
}

[contenteditable="true"]:focus {
  outline: none;
}
