.dropdown {
  @apply flex-1 rounded-md border border-gray-300 px-2 py-2 bg-white leading-6 text-sm font-medium text-gray-700;

  & .dropdown-inner {
    @apply inline-flex justify-center w-full transition ease-in-out duration-150;
  }

  & .dropdown-inner:hover {
    @apply text-gray-500;
  }

  & .dropdown-inner:focus {
    @apply outline-none;
  }

  & .dropdown-inner:active {
    @apply bg-gray-100 text-gray-800;
  }
}

.dot-selected {
  transform: translateX(100%);
  background-color: #fff;
}

.slider-selected {
  background: #bef04c;
  background: radial-gradient(at top left, #bef04c, #11ca26);
}

form,
.form {
  @apply text-gray-700 text-sm;

  & h1 {
    @apply text-xl leading-none font-extrabold;
  }

  & h2 {
    @apply text-lg leading-none font-bold;
  }

  & h3 {
    @apply leading-none font-bold;
  }

  & label {
    @apply block text-sm mb-0.5 pl-0.5;
  }

  & .sub-form {
    @apply bg-cyan-50 text-cyan-700 border border-cyan-300 rounded-md p-4;

    & h2 {
      @apply text-lg leading-none font-bold text-blue-700;
    }
  }

  & input.no-controls::-webkit-outer-spin-button,
  input.no-controls::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type=number].no-controls {
    -moz-appearance: textfield;
  }

  & input.text-field {
    @apply text-gray-700 border bg-white border-gray-300 rounded p-2 block w-full appearance-none;
  }

  & input.number-field {
    @apply text-gray-700 border bg-white border-gray-300 rounded p-2 block w-full;
  }

  & textarea.textarea {
    @apply text-gray-700 h-24 border bg-white border-bgray-200 rounded p-2 block w-full appearance-none;
  }

  & input.text-field:focus {
    @apply outline-none focus:ring-1 focus:ring-offset-2;
  }

  & input.number-field:focus {
    @apply outline-none focus:ring-1 focus:ring-offset-2;
  }

  & textarea.textarea:focus {
    @apply outline-none focus:ring-1 focus:ring-offset-2;
  }

  & button.submit,
  & div.submit {
    @apply text-white font-bold py-2 px-4 rounded bg-indigo-600 transition duration-150 ease-in-out;
  }

  & button.submit:hover {
    @apply bg-indigo-500;
  }

  & button.submit:disabled {
    @apply cursor-not-allowed bg-gray-400;
  }

  & .action {
    @apply text-white font-bold py-2 px-4 cursor-pointer rounded bg-teal-600 block transition duration-150 ease-in-out;
  }

  & .danger-action {
    @apply text-white font-bold cursor-pointer rounded bg-red-700 block transition duration-150 ease-in-out;
  }

  & .outline-small {
    @apply flex flex-1 items-center rounded border border-gray-400 px-2 cursor-pointer;
  }

  & button.submit:focus {
    @apply border-indigo-700;

    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  & button.submit:active {
    @apply bg-indigo-700;
  }

  @media (min-width: 768px) {
    & h2 {
      @apply text-lg leading-none font-bold;
    }
  }

  @media (min-width: 1024px) {
    & h1 {
      @apply text-2xl leading-none font-extrabold;
    }

    & h2 {
      @apply text-xl leading-none font-bold;
    }

    & h3 {
      @apply text-lg leading-none font-bold;
    }
  }
}

.link-button {
  @apply text-cyan-600 inline-block cursor-pointer;
}

.link-button:hover {
  @apply underline;
}

.subtle-button {
  @apply inline-block text-gray-600 py-2 px-4 rounded bg-white shadow transition duration-150 ease-in-out cursor-pointer;
}

.delete-button {
  @apply inline-block text-red-700 py-2 px-2 rounded bg-red-200 shadow transition duration-150 ease-in-out;
}

.delete-button:hover {
  @apply bg-red-600 text-white cursor-pointer;
}

button.action-button {
  @apply text-white font-bold py-2 px-4 rounded bg-teal-600 transition duration-150 ease-in-out;
}

button.action-button:hover {
  @apply bg-teal-500 cursor-pointer;
}

button.edit-button,
div.edit-button {
  @apply text-white font-bold py-2 px-4 rounded bg-pink-600 transition duration-150 ease-in-out whitespace-nowrap;
}

button.edit-button:hover,
div.edit-button:hover {
  @apply bg-pink-500 cursor-pointer;
}

.fake-text-field {
  @apply bg-white text-gray-700 border border-bgray-200 shadow rounded py-2 px-4 block w-full appearance-none;
}

.fake-text-field:focus {
  @apply outline-none focus:ring-1 focus:ring-offset-2;
}

input.naked-text:focus {
  outline: none;
}

.toggle-checkbox:checked {
  @apply right-0 border-green-400;

  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;

  background-color: #68d391;
}


.pac-container {
  @apply bg-white shadow-xl rounded p-3;

  & .pac-icon {
    @apply hidden;
  }

  & .pac-item {
    @apply p-2 block text-base text-gray-400 w-full rounded border-0;
  }

  /* mouse hover */
  & .pac-item:hover {
    @apply bg-gray-100
  }

  /* keyboard traverse */
  & .pac-item-selected {
    @apply bg-cyan-100;
  }

  & .pac-item-query {
    @apply text-base text-bgray-700;
  }

  & .pac-matched {

  }
}

.pac-container:after {
  background-image: none !important;
  height: 0px;
}

.cta {
  @apply block text-right p-4 md:px-6 md:py-3 shadow bg-gradient-to-br rounded-md leading-6 text-white;

  text-shadow: 1px 1px 2px black;
}

.cta:hover {
  text-decoration: none;
}