
/* Alerts and form errors */
.alert {
  @apply fixed border rounded right-3 bottom-3 py-2 px-3 text-sm lg:text-base cursor-pointer;

  z-index: 100000;
}

.alert-info {
  @apply bg-cyan-50 border-cyan-700 text-cyan-700;
}

.alert-warning {
  @apply bg-yellow-50 border-yellow-600 text-yellow-600;
}

.alert-danger {
  @apply bg-red-50 border-red-800 text-red-800;
}

.alert p.inner {
  @apply max-w-screen-xl py-3 px-8 mx-auto;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  font-size: 0.75rem !important;
}

span.icon-align {
  @apply inline-block pl-1 pt-1 align-top;
}

.invalid-feedback::first-letter {
  text-transform: uppercase;
}

.vjs-tech:focus {
  outline: none;
}

.home-header-wrapper {
  @apply w-full;
  background: #F8F6E8;

  & .home-header{
    @apply w-full max-w-7xl mx-auto relative;

    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
}

.cta {
  @apply block text-right p-4 md:px-6 md:py-3 shadow bg-gradient-to-br rounded-md leading-6 text-white;

  text-shadow: 1px 1px 2px black;
}

.cta:hover {
  text-decoration: none;
}

.deep-text-shadow {
  text-shadow: 1px 1px 1px #333;
}

.large-text-shadow {
  text-shadow: 2px 2px 2px #333;
}

blockquote {
  font-style: italic;
  font-family: 'Sanchez', serif;
  line-height: 1.4 !important;
  position: relative;
  text-shadow: 0 1px white;
}

blockquote p {
  @apply pl-6 my-4;

  font-size: 1.4rem;
}

.blue-radial {
  background: #30ecf8;
  background: radial-gradient(at top left, #30ecf8, #428bf3);
}

.blue-radial-text {
  color: #30b9f8;
  color: radial-gradient(at top left, #30ecf8, #428bf3);
}

.pink-radial {
  background: #ec4798;
  background: radial-gradient(at top left, #ec4798, #ef406b);
}

.green-radial {
  background: #bef04c;
  background: radial-gradient(at top left, #bef04c, #11ca26);
}

.green-radial-text {
  color: #52f04c;
  color: radial-gradient(at top left, #bef04c, #11ca26);
}

.orange-radial {
  background: #faca17;
  background: radial-gradient(at top left, #faca17, #f97516);
}

.orange-radial-text {
  color: #fab217;
  color: radial-gradient(at top left, #faca17, #f97516);
}

.home-example {
  & .title {
    @apply text-bgray-300 mb-2;
  }

  & .showcase-gallery {
    @apply w-full grid lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-3 gap-4;

    & .main-photo {
      @apply col-span-3 row-span-2 lg:col-span-2 lg:row-span-3 relative w-full pt-2/3 rounded bg-cover bg-center;
    }

    & .main-photo::before {
      @apply rounded;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & .main-photo:hover::before {
      @apply rounded;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & .preview {
      @apply block h-28 relative rounded bg-cover bg-center lg:w-full lg:h-full;

      & .icon {
        @apply bg-bgray-800 bg-opacity-70 rounded-bl rounded-tr absolute top-0 right-0 p-1.5;
      }
    }

    & .preview::before {
      @apply rounded;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & .preview:hover::before {
      @apply rounded;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & img {
      @apply my-0;
    }
  }
}
