
/* Alerts and form errors */
.alert {
  @apply fixed border rounded right-3 bottom-3 py-2 px-3 text-sm lg:text-base cursor-pointer;

  z-index: 100000;
}

.alert-info {
  @apply bg-cyan-50 border-cyan-700 text-cyan-700;
}

.alert-warning {
  @apply bg-yellow-50 border-yellow-600 text-yellow-600;
}

.alert-danger {
  @apply bg-red-50 border-red-800 text-red-800;
}

.alert p.inner {
  @apply max-w-screen-xl py-3 px-8 mx-auto;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  font-size: 0.75rem !important;
}

span.icon-align {
  @apply inline-block pl-1 pt-1 align-top;
}

.invalid-feedback::first-letter {
  text-transform: uppercase;
}

.vjs-tech:focus {
  outline: none;
}

.cta {
  @apply block text-right p-4 md:px-6 md:py-3 shadow bg-gradient-to-br rounded-md ml-4 leading-6 text-white;

  text-shadow: 1px 1px 2px black;
}

.deep-text-shadow {
  text-shadow: 1px 1px 2px black;
}
