svg.remix {
  width: 20px;
  height: 20px;
}

/* not working in tailwind theme extend */
.top-18 {
  top: 4.5rem;
}

.blur {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.text-ss {
  font-size: 0.6rem;
}

.translate-x-0 {
  --transform-translate-x: 0 !important;
}

.translate-x-8\/10 {
  --transform-translate-x: 72%;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;

  & .protected-header {
    & .avatar {
      border-color: #e53e3e !important;
    }
  }
}

.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav {
  & .link {
    @apply mr-6 font-medium text-gray-500 transition duration-150 ease-in-out;
  }

  & .link:hover {
    @apply text-gray-900 no-underline;
  }
}

/* Alerts and form errors */
.alert {
  @apply fixed border rounded right-3 bottom-3 py-2 px-3 text-sm lg:text-base cursor-pointer;

  z-index: 100000;
}

.alert-info {
  @apply bg-cyan-50 border-cyan-700 text-cyan-700;
}

.alert-warning {
  @apply bg-yellow-50 border-yellow-600 text-yellow-600;
}

.alert-danger {
  @apply bg-red-50 border-red-800 border text-red-800;
}

.alert p.inner {
  @apply max-w-screen-xl py-3 px-8 mx-auto;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  font-size: 0.75rem !important;
}

span.icon-align {
  @apply inline-block pl-1 pt-1 align-top;
}

.invalid-feedback::first-letter {
  text-transform: uppercase;
}

.deep-text-shadow {
  text-shadow: 1px 1px 2px black;
}

div.action-button {
  @apply text-white text-center font-bold py-2 px-4 rounded bg-teal-600 transition duration-150 ease-in-out;
}

div.action-button:hover {
  @apply bg-teal-500 cursor-pointer;
}

div.gallery {
  @apply h-full text-white;

  & div.prev {
    @apply h-full cursor-pointer absolute left-0 top-0 w-8 flex items-center justify-center;
  }

  & div.next {
    @apply h-full cursor-pointer absolute right-0 top-0 w-8 flex items-center justify-center;
  }
}

.status-active {
  @apply text-green-600 bg-green-50 border border-green-600;
}

.status-canceled {
  @apply text-red-600 bg-red-50 border border-red-600;
}

.status-active-under-contract {
  @apply text-amber-600 bg-amber-50 border border-amber-600;
}

.status-closed {
  @apply text-teal-600 bg-teal-50 border border-teal-600;
}

.status-expired {
  @apply text-pink-600 bg-pink-50 border border-pink-600;
}

.status-pending {
  @apply text-cyan-600 bg-cyan-50 border border-cyan-600;
}

.status-withdrawn {
  @apply text-indigo-600 bg-indigo-50 border border-indigo-600;
}

.status-decor-active {
  @apply bg-green-50 border border-green-600;
}

.status-decor-canceled {
  @apply bg-red-50 border border-red-600;
}

.status-decor-active-under-contract {
  @apply bg-amber-50 border border-amber-600;
}

.status-decor-closed {
  @apply bg-teal-50 border border-teal-600;
}

.status-decor-expired {
  @apply bg-pink-50 border border-pink-600;
}

.status-decor-pending {
  @apply bg-cyan-50 border border-cyan-600;
}

.status-decor-withdrawn {
  @apply bg-indigo-50 border border-indigo-600;
}

.status-text-active {
  @apply text-green-600;
}

.status-text-canceled {
  @apply text-red-600;
}

.status-text-active-under-contract {
  @apply text-amber-600;
}

.status-text-closed {
  @apply text-teal-600;
}

.status-text-expired {
  @apply text-pink-600;
}

.status-text-pending {
  @apply text-cyan-600;
}

.status-text-withdrawn {
  @apply text-indigo-600;
}

/* https://www.css-gradient.com */
button.jumbo {
  @apply w-full h-full rounded-lg p-2 pl-4 shadow text-white text-left;
}

.blue-radial {
  background: #30ecf8;
  background: radial-gradient(at top left, #30ecf8, #428bf3);
}

.blue-radial-text {
  color: #30b9f8;
  color: radial-gradient(at top left, #30ecf8, #428bf3);
}

.pink-radial {
  background: #ec4798;
  background: radial-gradient(at top left, #ec4798, #ef406b);
}

.green-radial {
  background: #bef04c;
  background: radial-gradient(at top left, #bef04c, #11ca26);
}

.green-radial-text {
  color: #52f04c;
  color: radial-gradient(at top left, #bef04c, #11ca26);
}

.orange-radial {
  background: #faca17;
  background: radial-gradient(at top left, #faca17, #f97516);
}

.orange-radial-text {
  color: #fab217;
  color: radial-gradient(at top left, #faca17, #f97516);
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.blackout {
  @apply w-screen h-screen fixed top-0 left-0 opacity-80 bg-bgray-800 hidden;

  z-index: 1050;
}

.image-editor{
  & img {
    @apply block max-w-full;
  }
}

.dz-dark-bg {
  background: #333 !important;
  color: #fff !important;
}

.dz-light-bg {
  background: #fff !important;
  color: #333 !important;
}

.dropzone {
  min-height: 0 !important;
  border-radius: 0.75rem !important;
  background: #333 !important;
  padding: 0 !important;
  color: #fff !important;
  border: none !important;

  & .dz-message {
    padding: 1rem 0;
    margin: 0 !important;
  }

  & .dz-image-preview {
    background: transparent !important;
  }

  & .dz-preview {
    @apply items-center ;
    display: flex !important;
    margin: 0 !important;
    border-radius: 0.75rem !important;

    & .dz-image {
      border-radius: 0.75rem !important;
      width: 100% !important;
      height: 100% !important;
    }

    & .dz-details {
      @apply h-full;
    }
  }

  & .dz-remove {
    position: absolute;
    padding: 2px 4px;
    color: #fff;
    background-color: #c43230;
    bottom: 8px;
    right: 8px;
    z-index: 150;
  }
}

.panel-slidein {
  @apply h-screen;

  width: 95%;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: -100%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.animate-select {
  animation: select 0.7s cubic-bezier(0, 0, 0.2, 1);
}

.animate-deselect {
  animation: deselect 2s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  75%,
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes select {
  0% {
    transform: translateY(-4rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes deselect {
  0% {
    background-color: #fecaca;
    transform: translateY(-1.4rem);
    opacity: 0;
  }

  100% {
    @apply bg-white;

    transform: translateY(0);
    opacity: 1;
  }
}

.grayscale-60 {
  filter: grayscale(60%);
}
