div.preview-wrapper {
  @apply w-full xl:w-4/5 max-w-screen-lg mb-8 lg:rounded-md;

  /* & p {
    @apply text-sm md:text-base lg:text-lg sm:leading-5 md:leading-6;
  }

  & h1 {
    @apply md:mb-2 text-2xl md:text-3xl lg:text-4xl font-extrabold;
  }

  & h2 {
    @apply md:mb-2 text-xl md:text-2xl lg:text-3xl font-extrabold;
  }

  & h3 {
    @apply md:mb-2 text-lg md:text-xl lg:text-2xl font-extrabold;
  }

  & h4 {
    @apply md:mb-2 text-base md:text-lg lg:text-xl font-extrabold;
  } */

  & .large-text-shadow {
    text-shadow: 3px 3px 4px #000;
  }

  & .showcase-gallery {
    @apply w-full grid lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-3 gap-4;

    & .main-photo {
      @apply relative col-span-3 row-span-2 lg:col-span-2 lg:row-span-3 w-full pt-2/3 rounded-lg bg-cover bg-center;

      & .title {
        @apply w-4/5 text-left absolute top-3 left-3 md:top-4 md:left-4 lg:top-5 lg:left-5 z-30;

        & h3 {
          @apply px-2 mb-0 leading-none py-1 inline-block;
        }

        & h1 {
          @apply px-2 mb-0 clear-left inline-block;
        }

        & h2 {
          @apply px-2 pb-0.5 mb-0 leading-none inline-block;
        }
      }
    }

    & .main-photo::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & .main-photo:hover::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & a.preview {
      @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

      & .icon {
        @apply bg-bgray-800 bg-opacity-70 rounded-bl-md rounded-tr-lg absolute top-0 right-0 p-1.5;
      }
    }

    & a.preview::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.25)
    }

    & a.preview:hover::before {
      @apply rounded-lg;

      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0);
    }

    & img {
      @apply my-0;
    }
  }

  & .divider:first-child {
    display: none;
  }

  & .cover-showcase {
    @apply absolute top-0 left-0 right-0 h-screen w-full bg-cover bg-center bg-fixed;

    & a:link {
      color: #FFF !important;
    }
  }

  & .cover-showcase::before {
    /* @apply backdrop-filter backdrop-blur-sm; */

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5)
  }


  & .showcase {
    & .main-details {
      @apply w-full grid w-4/5 grid-cols-2 sm:grid-cols-3 gap-4 md:gap-6 lg:w-3/5 mx-auto;

      & .detail {
        @apply px-4 py-2 rounded-md text-right;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none mb-0;
        }
      }
    }

    & .info {
      @apply flex flex-wrap mt-12 mx-auto;

      & .extra-details {
        @apply mx-auto flex w-full sm:flex-1 px-4 pt-2 mb-6;

        & .extra-info {
          @apply flex-1 grid grid-cols-2 px-2 gap-x-4 gap-y-1 h-0;

          & p {
            @apply my-0;
          }

          & .val p{
            @apply font-extrabold text-lg md:text-xl lg:text-2xl text-right;
          }

          & .label p{
            @apply text-base md:text-lg lg:pt-1;
          }
        }

        & .extra-options {
          @apply text-center w-36 flex items-center justify-center pl-6 pr-12;

          & a {
            @apply block text-center mx-auto;
          }

          & img {
            @apply block w-16 mx-auto;
          }
        }
      }

      & .association{
        @apply  w-full sm:w-2/5 mb-6;

        & p {
          @apply my-0;
        }

        & table {
          @apply w-full border-t;

          & th {
            @apply font-bold p-2 border-b text-left;
          }

          & tr {
            @apply border-b;
          }

          & td:nth-child(odd) {
            @apply px-2 py-1 mr-2 text-base;
          }

          & td:nth-child(even) {
            @apply px-2 py-1 ml-2 font-bold text-right;
          }
        }  
      }
    }
  }

  & .whats-cma {
    @apply w-full lg:w-4/5 mx-auto;
  }

  & .comparable {
    & .summary {
      @apply font-bold mx-auto my-6 lg:my-8 text-center w-4/5 md:w-3/4 lg:w-2/3 text-xl md:text-2xl lg:text-3xl;
    }

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .info-adjustments {
      @apply flex flex-wrap mt-12 mx-auto lg:w-4/5;

      & .extra-details {
        @apply mx-auto flex w-full sm:flex-1 px-4 pt-2 mb-6;

        & .extra-info {
          @apply grid grid-cols-2 px-2 gap-x-4 gap-y-1;

          & p {
            @apply my-0;
          }

          & .val p{
            @apply font-extrabold text-lg md:text-xl lg:text-2xl text-right;
          }

          & .label p{
            @apply text-base md:text-lg lg:pt-1;
          }
        }

        & .extra-options {
          @apply text-center flex-1 flex items-center justify-center px-6;

          & a {
            @apply block text-center mx-auto;
          }

          & img {
            @apply block w-16 mx-auto;
          }
        }
      }

      & .adjustments {
        @apply w-full sm:w-2/5 mb-6;

        & p {
          @apply my-0;
        }

        & table {
          @apply w-full border-t;

          & th {
            @apply font-bold p-2 border-b text-left;
          }

          & tr {
            @apply border-b;
          }

          & td:nth-child(odd) {
            @apply px-2 py-1 mr-2 text-base;
          }

          & td:nth-child(even) {
            @apply px-2 py-1 ml-2 font-bold text-right;
          }
        }
      }

      & .footer {
        @apply w-full text-right;
      }
    }
  }

  & .subject {
    @apply w-full lg:w-4/5 mx-auto;

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .sub-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h2 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }
  }

  & .agent {
    & .avatar {
      @apply w-64 mx-auto text-center;

      & p {
        line-height: 0rem;
        margin: 0;
      }

      & img {
        @apply block mx-auto;
      }
    }
  }

  & .closed-analysis {
    @apply w-full lg:w-4/5 mx-auto;

    & .sold-table {
      @apply mt-12;

      & table {
        @apply w-full;

        & td {
          @apply p-2;
        }

        & tr {
          @apply border-b;
        }

        & tr:first-child {
          & p {
            @apply text-lg font-bold;
          }
        }

        & tr:last-child {
          @apply border-b-0;

          & p {
            @apply text-lg font-bold;
          }
        }
      }
    }
  }

  & .suggested-price {
    @apply w-full lg:w-4/5 mx-auto;


    & h1.price-value {
      @apply md:mb-2 text-3xl md:text-4xl lg:text-5xl font-extrabold;
    }

    & .slash {
      & p {
        font-size: 4rem;
      }
    }
  }

  & .pricing {
    @apply w-full lg:w-4/5 mx-auto;
  }

  & .tour {
    & .summary {
      @apply font-bold mx-auto my-6 lg:my-8 text-center w-4/5 md:w-3/4  text-xl md:text-2xl lg:text-3xl;
    }

    & .main-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h1 {
          @apply mb-0;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .sub-details {
      @apply flex mx-auto text-right md:w-4/5;

      & .detail {
        @apply p-4;

        & h2 {
          @apply mb-0 text-center;
        }
        
        & h4 {
          @apply leading-none;
        }
      }
    }

    & .info {
      @apply flex flex-wrap mt-12 mx-auto;

      & .extra-details {
        @apply mx-auto flex w-full sm:flex-1 px-4 pt-2 mb-6;

        & .extra-info {
          @apply flex-1 grid grid-cols-2 px-2 gap-x-4 gap-y-1 h-0;

          & p {
            @apply my-0;
          }

          & .val p{
            @apply font-extrabold text-lg md:text-xl lg:text-2xl text-right;
          }

          & .label p{
            @apply text-base md:text-lg lg:pt-1;
          }
        }

        & .extra-options {
          @apply text-center w-36 flex items-center justify-center pl-6 pr-12;

          & a {
            @apply block text-center mx-auto;
          }

          & img {
            @apply block w-16 mx-auto;
          }
        }
      }

      & .association{
        @apply  w-full sm:w-2/5 mb-6;

        & p {
            @apply my-0;
          }

        & table {
          @apply w-full border-t;

          & th {
            @apply font-bold p-2 border-b text-left;
          }

          & tr {
            @apply border-b;
          }

          & td:nth-child(odd) {
            @apply px-2 py-1 mr-2 text-base;
          }

          & td:nth-child(even) {
            @apply px-2 py-1 ml-2 font-bold text-right;
          }
        }  
      }
    }
  }

    & video {
    @apply my-0;
  }

  & a.button {
    @apply my-4 block font-bold border-t border-b py-2;
  }

  & a.button:hover {
    @apply cursor-pointer;
  }

  & .section {
    @apply py-16 lg:py-24;

    & .data-grid {
      @apply grid grid-cols-1 lg:grid-cols-3 gap-6;
    }

    & .data-grid-fifty {
      @apply grid grid-cols-1 sm:grid-cols-2 gap-8;
    }

    & .minor {
      @apply h-full;

      & img {
        @apply mx-auto;
      }
    }

    & .major {
      @apply lg:col-span-2;
    }

    & img {
      @apply rounded-md;
    }

    & .cover-agent {
      @apply absolute -left-8 -bottom-6 rounded-full h-20 w-20 bg-cover border-4;
    }

    & h1.cover-header {
      @apply mb-4;
    }

    & .cover-address {
      @apply my-2 lg:my-4;
    }

    & .cover-name {
      @apply mt-4 mb-20;
    }

    & .why-agent-photo {
      @apply float-left mr-8 my-4 rounded-full bg-cover border-4 w-32 h-32 lg:w-40 lg:h-40;
    }

    & .simple-gallery {
      @apply grid grid-cols-3 grid-rows-4 gap-1;

      & .main-photo {
        @apply relative col-span-3 row-span-3 w-full pt-2/3 rounded-md bg-cover bg-center;
      }

      & .main-photo::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & .main-photo:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      & a.preview {
        @apply block h-28 relative rounded-lg bg-cover bg-center lg:w-full lg:h-full;

        & .icon {
          @apply bg-bgray-800 bg-opacity-70 rounded-bl rounded-tr-lg absolute top-0 right-0 p-1.5;
        }
      }

      & a.preview::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25)
      }

      & a.preview:hover::before {
        @apply rounded;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    & .subject-table {
      & table {
        @apply w-full;

        & p {
          @apply my-0;
        }

        & th {
          @apply font-bold p-2 border-b text-left;
        }

        & tr {
          @apply border-b;
        }

        & td:nth-child(odd) {
          @apply px-2 py-1 text-right mr-2 text-base;
        }

        & td:nth-child(even) {
          @apply px-2 py-1 ml-2 font-bold;
        }
      }
    }
  }
}