@import "./home.css";
@import "./forms.css";

@tailwind base;
@tailwind components;

@layer base {

  body {
    @apply bg-gray-100 text-gray-600;

    /* line-height: 1.2; */
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
  }

  [x-cloak] {
    display: none;
  }

  a:link,
  a:visited {
    @apply text-cyan-700;
  }

  a:hover,
  a:active {
    @apply underline text-cyan-800;
  }

  p {
    @apply xl:text-lg;
  }

  h1 {
    @apply text-3xl lg:text-4xl leading-none font-extrabold;
  }

  h2 {
    @apply text-2xl lg:text-3xl font-extrabold;
  }

  h3 {
    @apply text-xl lg:text-2xl leading-none font-bold;
  }

  h4 {
    @apply text-lg lg:text-xl leading-none font-bold;
  }
}

@tailwind utilities;
