<!DOCTYPE html>
<html lang="en">
  <head>
    <.live_title>
      <%= assigns[:page_title] || "Excyte" %>
    </.live_title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta property="og:title" content={"#{ExcyteWeb.Helpers.Utilities.insight_type_to_name(@insight.type)} >> #{String.capitalize(@insight.name)}"} />
    <meta property="og:description" content={ExcyteWeb.Helpers.Utilities.social_description(@insight, @data.agent_profile)}/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content={"#{Application.get_env(:excyte, :base_url)}client/#{@insight.uuid}"} />
    <meta property="og:image" content={@insight.cover_photo_url} />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script defer src={"https://maps.googleapis.com/maps/api/js?key=#{Application.get_env(:excyte, :gcp_places)}&libraries=places"}></script>
    <link phx-track-static rel="stylesheet" href={~p"/assets/client.css"}/>
    <%= if !@errors do %>
      <style type="text/css">
        div.viewer-wrapper {background-color: <%= @theme.background %>; color: <%= @theme.sub_header_text %>; font-family: <%= @theme.font %>}
        div.viewer-wrapper .bg-color {background-color: <%= @theme.background %>;}
        div.viewer-wrapper .header-color {color: <%= @theme.sub_header_text %>}
        div.viewer-wrapper .sub-header-color {color: <%= @theme.sub_header_text %>}
        div.viewer-wrapper .accent-color {border-color: <%= @theme.accent %>}
        div.viewer-wrapper .link {color: <%= @theme.link %>; border-color: <%= @theme.link %>}
      </style>
    <% end %>
  </head>
  <body class="">
    <%= @inner_content %>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/client.js"}></script>
  </body>
</html>
