<div class="viewer">
  <div class="bg-color">
    <h3 class="text-center text-bgray-400 my-4">Search for the subject property</h3>
    <div class="lg:w-2/5 md:w-2/3 mx-auto">
      <.live_component
        module={AddressAutocomplete}
        callback={:init_address}
        label={"Enter a location"}
        id={:home_location}
      />
    </div>
  </div>
</div>