<div class="px-4 sm:px-6 xl:px-8 mt-8">
  <%= case @current_step do %>
    <% "payment" -> %>
      <div class="w-full md:w-2/3 mx-auto">
        <div class="flex">
          <div class="flex-1">
            <h2 class="text-gray-700 font-bold pb-2">Step 2 of 3</h2>
          </div>
          <div>
            <%= if @account.status === "active" do %>
              <%= live_patch "continue...", to: Routes.live_path(@socket, GettingStartedLive, step: "profile") %>
            <% end %>
          </div>
        </div>
        <%= live_component @socket, PaymentLive, current_user: @current_user, account: @account, id: :payment %>
        <%= if @account.status === "active" do %>
          <%= live_patch to: Routes.live_path(@socket, GettingStartedLive, step: "profile"), replace: false do %>
            <div class="action-button my-6">Continue...</div>
          <% end %>
        <% end %>
      </div>
    <% "profile" -> %>
      <div class="w-full md:w-2/3 mx-auto">
        <div class="flex">
          <div class="flex-1">
            <h2 class="text-gray-700 font-bold pb-2">Step 3 of 3</h2>
          </div>
          <div>
            <%= if @current_user.completed_setup do %>
              <%= live_redirect "Go to dashboard...", to: Routes.live_path(@socket, DashboardLive) %>
            <% end %>
          </div>
        </div>
        <%= live_component @socket, ProfileLive,
          current_user: @current_user,
          return_to: "/agent/dash",
          default: true,
          action: :new,
          profile_id: nil,
          id: :profile %>
      </div>
    <% _ -> %>
      <div class="w-full md:w-1/2 xl:w-1/4 mx-auto">
        <div class="flex">
          <div class="flex-1">
            <h2 class="text-gray-700 font-bold pb-2">Step 1 of 3</h2>
          </div>
          <div>
            <%= if length(@mls_list) > 0 do %>
              <%= live_patch "continue...", to: Routes.live_path(@socket, GettingStartedLive, step: "payment") %>
            <% end %>
          </div>
        </div>
        <%= live_component @socket, MlsAuthLive, return_to: @return_to, current_user: @current_user, mls_list: @mls_list, id: :mls %>
        <%= if length(@mls_list) > 0 do %>
          <%= live_patch to: Routes.live_path(@socket, GettingStartedLive, step: "payment"), replace: false do %>
            <div class="action-button my-6">Continue...</div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>
