<div class="md:px-6 xl:px-8 mt-20 lg:mt-28 mb-6">
  <div class="max-w-2xl mx-auto">
    <div class="flex">
      <div class="flex-1">
        <h2 class="leading-none mb-0">Getting Started</h2>
      </div>
      <div>
        <%= if !@current_user.invited_by_id do %>
          <h4 class="text-gray-500">Step
            <span class="text-2xl text-gray-700">
              <%= case @current_step do %>
                <% "mls" -> %>1
                <% "subscription" -> %>2
                <% "profile" -> %>3
              <% end %>
            </span> of 3
          </h4>
        <% end %>
      </div>
    </div>
    <p class="mb-8 lg:mb-12">This is a one time setup to get you up and running with our product. You can <span class="bg-yellow-200">edit anything done here under settings</span> in the future if you need to.</p>
  </div>
  <%= case @current_step do %>
    <% "mls" -> %>
      <div class="w-full md:w-1/2 mx-auto">
        <%= live_render @socket, MlsAuth, session: %{"return_to" => @return_to, "user_id" => @current_user}, id: :mls_auth_gsa %>
      </div>

    <% "subscription" -> %>
      <div class="w-full md:w-1/2 mx-auto">
        <%= if @account.current_period_end === nil do %>
          <%= live_render @socket, Subscription, session: %{"return_to" => @return_to, "user_id" => @current_user}, id: :agent_subscription %>
        <% else %>
          <div class="text-center">
            <h2 class="py-8 link">Thank you, payment method saved.</h2>
            <h3>We will notify you before your trial ends on <%= Calendar.strftime(@account.current_period_end, "%b %d, %Y") %>. You can edit future payment information in settings.</h3>
            <%= live_patch to: Routes.live_path(@socket, GettingStarted, step: "profile"), replace: false, class: "hover:no-underline" do %>
              <div class="action-button my-6">Continue...</div>
            <% end %>
          </div>
        <% end %>
      </div>

    <% "profile" -> %>
      <div class="w-full lg:w-2/3 max-w-xl mx-auto">
        <div class="text-right">
          <div>
            <%= if @current_user.completed_setup do %>
              <%= live_redirect "Go to dashboard...", to: Routes.live_path(@socket, Dashboard) %>
            <% end %>
          </div>
        </div>
        <%= live_render @socket, Profile,
          session: %{"return_to" => "/agent/dash", "user_id" => @current_user.id, "profile_id" => nil},
          id: "profile_form" %>
      </div>
  <% end %>
</div>
