<div class="rounded-md shadow-md relative overflow-hidden pb-2/3">
  <img src="<%= @insight.cover_photo_url %>" alt="" class="absolute h-full w-full object-cover grayscale-60" />
  <div class="absolute flex flex-col h-full w-full z-20">
    <div class="flex-1"></div>
    <div class="rounded-mb-b bg-bgray-800 bg-opacity-90 text-bgray-100">
      <%= link to: "/client/#{@insight.uuid}" do %>
        <div class="px-3 py-2">
          <div class="font-bold">
            <%= @insight.name %>
          </div>
          <div class="text-sm">
            <span class="text-xs">updated</span> <%= Calendar.strftime(@insight.updated_at, "%b %d, %Y") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
