<%= if @listing["MainPhotoUrl"] do %>
  <div x-data="{ optsVisible: false }" class="rounded border-bgray-300 shadow relative overflow-hidden pb-2/3">
    <img src="<%= @listing["MainPhotoUrl"] %>" alt="" class="absolute h-full w-full object-cover grayscale-60" />
    <div class="absolute flex flex-col h-full w-full z-20">
      <div class="flex-1"></div>
      <div class="rounded-b bg-bgray-800 bg-opacity-90 text-bgray-100">
        <div class="flex h-full">
          <div
            x-show.transition.in.duration.300ms.origin.bottom.left.opacity.scale.65="!optsVisible"
            class="flex-1 px-4 py-2"
          >
            <p class="text-sm">
              <%= @listing["StreetNumber"] %> <%= @listing["StreetName"] %>
              <%= if @listing["UnitNumber"] do %>
                <span class="inline-block">Unit <%= @listing["UnitNumber"] %></span>
              <% end %>
            </p>
            <%= if @listing["Timeline"]["ModificationTimestamp"] do %>
              <p class="text-xs leading-3">Last Modified <%= Utilities.simple_date_format(@listing["Timeline"]["ModificationTimestamp"]) %></p>
            <% end %>
          </div>
          <div
            x-show.transition.in.duration.300ms.origin.top.right.opacity.scale.65="optsVisible"
            class="flex-1 flex w-full py-2 bg-bgray-200 text-gray-700 rounded-bl"
          >
            <%= live_redirect to: Routes.live_path(@socket, Create, "property"), class: "w-full" do %>
              <div class="flex h-full cursor-pointer hover:bg-cyan-300 items-center px-2">
                <div class="h-6 w-6">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                  </svg>
                </div>
                <div class="pl-1">
                  <p class="text-xs leading-3">Create</p>
                  <p class="font-bold">Summary</p>
                </div>
              </div>
            <% end %>
            <%= live_redirect to: Routes.live_path(@socket, Create, "property"), class: "w-full" do %>
              <div class="flex h-full cursor-pointer hover:bg-cyan-300 items-center px-2">
                <div class="h-6 w-6">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
                  </svg>
                </div>
                <div class="pl-1">
                  <p class="text-xs leading-3">Create</p>
                  <p class="font-bold">Showcase</p>
                </div>
              </div>
            <% end %>
          </div>
          <div
            @click="optsVisible = !optsVisible"
            class="w-10 flex fill-current items-center justify-center border-l border-bgray-600 cursor-pointer hover:bg-bgray-700 rounded-br"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"/><path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
