<div>
  <%= f = form_for @changeset, "#",
    id: "profile_form",
    phx_change: "validate",
    phx_submit: "save"
  %>
    <div class="shadow-md bg-white rounded-md p-4 relative">
      <h3 class="text-lg leading-none font-extrabold text-gray-900">
        <%= if @action === :edit, do: "Edit profile", else: "Create a new profile" %>
      </h3>
      <div class="w-24 h-24 md:w-28 md:h-28 absolute top-4 md:top-2 right-4 bg-teal-500 rounded-full p-1" phx-drop-target="<%= @uploads.photo.ref %>">
        <%= for {_ref, err} <- @uploads.photo.errors do %>
          <p class="alert alert-danger"><%= Phoenix.Naming.humanize(err) %></p>
        <% end %>
        <%= for entry <- @uploads.photo.entries do %>
          <%= live_img_preview entry, width: 90, class: "w-full h-full rounded-full" %>
        <% end %>
        <%= live_file_input @uploads.photo, class: "opacity-0 h-full w-full cursor-pointer absolute top-1 left-1" %>
        <%= if @profile.photo_url do %>
          <img src="<%= @profile.photo_url %>" class="w-full h-full rounded-full" />
        <% else %>
          <%= if length(@uploads.photo.entries) === 0 do %>
            <div class="w-full h-full rounded-full text-bgray-100 bg-gray-800 flex items-center justify-center text-center ">Upload<br />photo</div>
          <% end %>
        <% end %>
      </div>
      <div class="mt-4 w-3/4">
        <%= label f, :name %>
        <%= text_input f, :name, class: "text-field", phx_debounce: "blur" %>
        <%= error_tag f, :name %>
      </div>
      <div class="mt-4">
        <%= label f, :tagline %>
        <%= text_input f, :tagline, class: "text-field", phx_debounce: "blur" %>
        <%= error_tag f, :tagline %>
      </div>
      <div class="mt-4">
        <%= label f, :bio %>
        <%= textarea f, :bio, class: "textarea", phx_debounce: "blur" %>
        <%= error_tag f, :bio %>
      </div>
      <div class=" mt-4 sub-form">
        <h2>Contacts</h2>
        <%= live_component @socket, ContactForm,
          form: f,
          id: :profile_contacts
        %>
      </div>
      <%#= live_component @socket, Toggle,
        form: f,
        c_type: :small,
        input_name: :default,
        label: "Default",
        id: "#{@socket.id}_default",
        callback: "return"
      %>
      <%# <div>
        <div class="relative inline-block w-10 mr-2 align-middle select-none transition duration-200 ease-in">
          <input type="checkbox" name="toggle" id="toggle" class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"/>
          <label for="toggle" class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
        </div>
        <label for="toggle" class="text-gray-700">Set as default</label>
      </div> %>
      <%= submit "Create profile", class: "submit mt-4 w-full", phx_disable_with: "Creating..." %>
    </div>
  </form>
</div>
