<div>
  <.form for={@form}
    id="profile_form" 
    phx-change="validate" 
    phx-submit="save"
  >
    <div class="shadow-md bg-white rounded-md p-4 relative">
      <p class="text-base mb-4">Information about yourself we include by default in all reports.</p>
      <div class="w-full lg:flex-1 mt-10 lg:mt-0">
        <div class="">
          <.input 
            type="text"
            field={@form[:name]}
            label="Name"
            phx_debounce="blur"
            class="text-field"
          />
        </div>
        <div class="mt-4 flex flex-wrap -mx-2">
          <div class="w-full md:w-1/2">
            <div class="px-2">
              <.input 
                type="text"
                field={@form[:company_name]}
                label="Company Name"
                phx_debounce="blur"
                class="text-field"
              />
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <div class="px-2">
              <.input 
                type="text"
                field={@form[:job_title]}
                label="Job Title"
                phx_debounce="blur"
                class="text-field"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap my-4">
        <div class="w-40 relative md:w-40 rounded-md mx-auto lg:mb-0 lg:ml-0 lg:mr-4">
          <.live_component
            module={ImageEditor}
            show_image_panel={false}
            current_user={@current_user}
            model={"profile"}
            model_id={@current_user.id}
            name={"photo"}
            title={"Agent Photo"}
            bucket={"agent_photos"}
            image_url={@profile.photo_url}
            aspect_ratio={4/3}
            upload_text={"Upload<br />Agent Photo"}
            width={160}
            height={120}
            id={:photo_image_editor}
          />
        </div>
        <div class="w-60 md:w-60 relative rounded-md mx-auto mt-4 mb-6 lg:mb-0 lg:mr-0 lg:ml-4 lg:mt-0">
          <.live_component
            module={ImageEditor}
            show_image_panel={false}
            current_user={@current_user}
            model={"profile"}
            model_id={@current_user.id}
            name={"logo"}
            title={"Brokerage Logo"}
            bucket={"brokerage_logos"}
            image_url={@profile.logo_url}
            aspect_ratio={16/9}
            upload_text={"Upload<br />Brokerage Logo"}
            width={206}
            height={120}
            id={:logo_image_editor}
          />
        </div>
      </div>
      <div class="mt-4">
        <.input 
          type="text"
          field={@form[:tagline]}
          label="Tagline"
          phx_debounce="blur"
          class="text-field"
        />
      </div>
      <div class="flex flex-wrap mt-4">
        <div class="w-full lg:flex-1">
          <.input 
            type="textarea"
            field={@form[:bio]}
            label="Bio"
            phx_debounce="blur"
            class="text-field"
          />
        </div>
      </div>
      <div class=" mt-4 sub-form">
        <h2>Contacts</h2>
        <p class="text-xs mt-1">Add <strong>public</strong> contact information such as email addresses, phone numbers, links, or any other method of staying connected.</p>
        <Function.contact_form form={@form} id={:profile_contacts} />
      </div>
      <.button class="submit mt-4 w-full" phx_disable_with="Updating...">Update profile</.button>
    </div>
  </.form>
</div>
