<div class="h-full flex flex-col pb-8 overflow-y-auto">
  <div class="flex mb-6">
    <div class="pr-2 mr-3 border-r border-gray-400 flex justify-center items-center cursor-pointer" phx-click="close-send-insight">
      <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="">
      <h3 class="">Send report to client</h3>
      <p class="text-base">Fill out the form below to send this report to a client. You can also copy the link below if you would like to send by another method (ex. text message).</p>
    </div>
  </div>
  <%= if @last_sent do %>
    <div class="rounded border border-bgray-300 bg-cyan-50 py-2 px-4 m-2">
      <p class="text-sm font-bold"><%= @last_sent.description %> on <%= Calendar.strftime(@last_sent.updated_at, "%b %d, %Y") %></p>
    </div>
  <% end %>
  <div class="px-2 mb-4">
    <%= if @insight do %>
      <div class="rounded shadow bg-white p-4 form" id="CopyToClipboardDiv" phx-hook="CopyToClipboard" x-data="{copied: false}">
        <p class="font-bold">Copy link</p>
        <p class="text-sm mb-4">Use this link in text messages, emails, or on social media.</p>
        <div class="flex">
          <input id="copyReportLink" class="text-field" value={"https://excyte.io/client/#{@insight.uuid}"} />
          <button class="action ml-3" id="copyReportLinkButton">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3"></path>
            </svg>
          </button>
        </div>
        <p id="alertCopied" class="hidden text-green-700 mt-1 text-sm font-bold">Copied!</p>
      </div>
    <% end %>
  </div>
  <.form let={f} for={:send_to} class="p-2" phx-change="validate-email-form" phx-submit="submit-email-form" phx-target={@myself}>
    <div class="rounded shadow bg-white p-4">
      <p class="font-bold">Email link</p>
      <p class="text-sm mb-4">We will attach the link and send the message for you. Edit the subject and message as you wish.</p>
      <div class="mb-2">
        <%= label f, :name %>
        <%= text_input f, :client_name,
          class: "text-field",
          placeholder: "Name",
          value: @client_name,
          phx_blur: "name-blur",
          phx_target: @myself
        %>
      </div>
      <div class="mb-2">
        <%= label f, :email, "Send to" %>
        <%= text_input f, :email,
          class: "text-field",
          placeholder: "Email address",
          value: @email
        %>
      </div>
      <div class="mb-2">
        <%= label f, :subject %>
        <%= text_input f, :subject,
          class: "text-field",
          placeholder: "Email subject",
          value: @subject
        %>
      </div>
      <div class="mb-2">
        <%= label f, :message %>
        <%= textarea f, :message,
          class: "textarea",
          placeholder: "Message",
          value: @message
        %>
      </div>
      <%= if length(@errors) > 0 do %>
        <ul class="text-red-700 text-base font-bold my-4">
          <%= for err <- @errors do %>
            <li>
              <%= err.message %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <div class="">
        <%= submit "Send message",  class: "submit w-full" %>
      </div>
    </div>
  </.form>
</div>
