<div class="lg:w-2/5 md:w-2/3 mx-auto">
  <h1 class="text-center pb-2">Create a CMA</h1>
  <h3 class="text-center text-bgray-400 my-4">Search for the subject property</h3>
  <%= live_component @socket, AddressAutocomplete, id: :subject_location %>
  <h4 class="text-center text-bgray-400 mb-4 mt-8">Or find by listing ID</h4>
  <%= live_component @socket, FindById, mls: @mls, id: :find_listings_by_id %>
</div>
